@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=VT323&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
  font-family: 'VT323', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=VT323&display=swap')
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style-type: none;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}

nav ul{
    height: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
nav ul li{
      padding: 20px;   
}
      
.searchInput {
    margin-top:10em;
}
  
.containerList {
  margin-left:-3em;
}

.containerCard {
  margin-right:22em;
}

.pokemon-card{
  font-family:'VT323', monospace;
  font-size:1.5em;
  font-weight: bold;
  border-radius:2em;
  border: rgb(0, 0, 0) 3px solid;
  padding:0.5em;
  margin:0.5em;
  width:200%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.pokemon-card h3 {
  background-color: #232323;
  width:30%;
  border-radius:0.5em;
}

.pokemon-card p {
  background-color: #232323;
  padding-left:1em;
  padding-right:1em;
  border-radius: 0.5em;
  margin:0.5em 0 0.5em 0
}

.pokemon-card:first-child{
  margin-top:5em;
}

.img {
  background-color:white;
  width:50%;
  padding:8%;
  margin:auto;
  border-radius:0.5em;
  border:#232323 3px solid;
}
.pokemon-card h3, .pokemon-card p {
  color:white;
  text-transform:uppercase;
}

.pokemon-card img {
  width: 300px;
  height: auto;
  border-radius:0.5em;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
