@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=VT323&display=swap");

@font-face {
  font-family: "Poppins", sans-serif;
  font-family: "VT323", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=VT323&display=swap");
}

#root {
  width: 100%;
}

body {
  background-image: linear-gradient(
      rgb(255, 224, 183, 0.8),
      rgb(255, 224, 183, 0.8)
    ),
    url("https://cdn-icons-png.flaticon.com/512/868/868596.png");
  background-size: 20%;
  font-family: "VT323", monospace;
}

#main {
  margin-top: 10vh;
}

ul {
  list-style-type: none;
}

.sleep{
  background-color: #c9bcf0!important;
}

.freeze {
  background-color: #98D8D8!important;
}

.paralysis{
  background-color: #F8D030!important;
}

.burn{
  background-color: #F08030!important;
}

.poison{
  background-color: #A040A0!important;
}

.pvStatus{
  display:flex;

  .status{
    margin-left:1em;
    background-color: #232323;
    color:white;
    padding:0 0.3em 0 0.3em;
    border-radius: 0.5em;
  }
}



.statusBtn{
  display:flex;
  flex-wrap: wrap;
  
  
  button {
    margin:1em;
    border: white 2px solid;
    box-shadow: 0px 0px 5px black;
  }

}

.captureBtn{
  border: white 2px solid;
  box-shadow: 0px 0px 5px black;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 50px;

  .loading {
    h1 {
      text-align: center;
    }
  }

  .card-pokemon {
    display: inline-block;
    font-family: "VT323", monospace;
    border-radius: 2em;
    border: rgb(0, 0, 0) 3px solid;
    width: 300px;
    padding: 10px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .types {
        display: flex;
        gap: 10px;
      }
    }

    h3 {
      background-color: #232323;
      width: 30%;
      border-radius: 0.5em;
    }

    p {
      background-color: #232323;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 0.5em;
      margin: 0.5em 0 0.5em 0;
    }

    img {
      width: 300px;
      height: auto;
      border-radius: 0.5em;
    }

    h3,
    p {
      color: white;
      text-transform: uppercase;
    }
  }
}

.capture{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position:relative;

  .header {
    width:20%;
    border-radius: 0.7em;
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 0.2em;
    background-color: #232323;
    margin: 1.5em 0;
  
    h4{
      color:white;
      background-color: #232323;
      font-size:20px;
      border-radius:0.5em;
      margin: 0;
      padding: 0;
    }
  
    span{
      color:white;
      background-color: #232323;
      font-size:20px;
      border-radius:0.5em;
      padding:0.1em;
    }
  }

  .pv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    #pvmax {
      appearance: none;
      height: 6px;
      background-color: #000;
      border-radius: 4px;
      cursor: pointer;
  
      &::-webkit-slider-thumb {
        appearance: none;
        background-color: #FFF;
        background-image: url('/public/pokeball.png');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
  
        width: 20px; height: 20px;
        border-radius: 50%;
        // border: 2px solid #000;
      }
    }
  }

  .pokeballs {
    display: flex;
    gap: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #232323;
      border: 2px solid #232323;

      :hover {
        background-color: white;
        border: 2px solid grey;
        border-radius: 5em;
      }

      img {
        height: 50px;
        width: 50px;
      }
    }
  }
  
}

.teamTitle{
  display: flex;
  justify-content:center;
  position: relative;
}

.isActive{
  background-color: white!important;
}

.capture-rate{
  width:20%;
  border-radius:0.5em;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0 0 0.5em 0;
  background-color: #232323;

  h4{
    color:white;
    background-color: #232323;
    font-size:20px;
    border-radius:0.5em;
    padding:0.2em;
    margin: 0.3em 0 0 0;
  }

  span{
    color:white;
    background-color: #232323;
    font-size:20px;
    border-radius:0.5em;
    padding:0.1em;
  }
}

.type-icon-card {
  border-radius: 5em;
  padding: 0.2em 0.4em;
}

.wikiName {
  color: white;
  background-color: #232323;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  padding:0.2em 0.5em;
  gap: 10px;
}

.pokemon-wiki {
  max-width: 900px;
  margin: auto;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 978px) {
    width: 100%;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3 {
      text-align: center;
      font-size: 2.5rem;
      margin: 15px;
    }

    border-radius: 0.5em;

    .types-img {
      display: flex;
      background-color: #232323;
      border-radius: 1em;
      text-align: center;
      padding: 0.5em;
      gap: 10px;

      img {
        height: 2rem !important;
      }
    }
  }

  main {
    .main-and-prevnext {
      display: flex;
      flex-direction:column;
    }

    .main-container {
      height:430px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      object-fit: contain;
      align-items: center;
      border-radius:1em;

      .arrow-left {
        border-top: 215px solid transparent;
        border-bottom: 215px solid transparent;
        background-color: white;
      }

      .img {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 50px 0;
        background-color: white;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;

        img {
          width: 250px;
          height: auto;
        }
      }

      h4 {
        margin: 0;
      }

      .informations {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 35%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;

        .top, .bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }
      
        .infos {
          padding-top: 10px;
          justify-content: center;
          color: white;
          font-size: 20px;
          background-color: #232323;
          width: 35%;
       
          padding: 0 1.8em 0.2em 0.5em;
          border-radius: 0.5em;
          margin: 0.5em;
          gap: 10px;

          .types-itm {
            display: flex;
            gap: 10px;
          }
        }
      }

      @media screen and (max-width: 978px) {
        flex-direction: column;
        height: auto;

        .img {
          padding: 40px 0;
        }

        .arrow-left {
          display: none;
        }

        .informations {
          display: flex;
          flex-direction: row;
          gap: 10px;
          padding: 20px;
          width: 100%;

          .top, .bottom {
            display: flex;
            gap: 10px;
            width: 100%;
          }

          .infos {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            margin: 0;
            width: 90%;
          }
        }

      }
    }

    .content {
      border-radius: 0.5em;
      margin-top: 20px;

      table {
        border-collapse: collapse;
        width: 100%;
        padding: 0 10px;
      }
    }
  }

  footer {
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.media-player {
  position: fixed;
  bottom: 10px; right: 10px;

  width: 300px; 
  // height: 75px;
  border-radius: 0.5em;
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .media-player-volume,
  .media-player-progress {
    appearance: none;
    width: 100%; height: 6px;
    background-color: #000;
    border-radius: 4px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: #FFF;
      background-image: url('/public/pokeball.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center;

      width: 20px; height: 20px;
      border-radius: 50%;
      // border: 2px solid #000;
    }
  }

  .media-player-volume {
    width: 40%;
    
    &::-webkit-slider-thumb {
      background-image: url('/public/masterball.png') !important;
      background-size: 25px 20px;
    }
  }

  .media-player-time {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .media-player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    svg {
      padding: 15px;
      cursor: pointer;
    }
  }
}